.logo{
  float: left;
  width: 50%;
  height: 50%;
  min-width: 35px;
  min-height: 35px;
  max-height: 50px;
  max-width: 50px;
  margin-top: 3%;
}
h1{
  float: right;
  margin-top: 5%;
  color: aliceblue;
}