.header{
  position: fixed;
  top: 0;
  width: 100%;
  height:fit-content;
  background-color: darkred;
  z-index: 100;
  border-style: solid;
  border-color: black;
}

.header div{
  float: left;
  display: block;
  text-align: center;
  padding: 5px ;
  padding-left: 10%;
}