.searchbar{
  position: relative;
  align-items: center;
  min-width: 20%;
  min-height: 30px;
  max-height: 50px;
  max-width: 30%;
}
.searchbar input{
  width: 100%;  
  margin-top: 8%;
  height: 30px;
}
